<body>
  <h1>Bookmarks</h1>
  <ul>
    <% bookmarks.each do |bookmark| %>
      <li class="bookmark" id="bookmark-<%= bookmark["id"] %>">
        <a href=<%= bookmark["url"] %>><%= bookmark["title"] %></a>
        <p>
          <form action="/bookmarks/delete" method="post">
            <input type='hidden' name='_method' value='DELETE'/>
            <input type='hidden' name='id' value=<%= bookmark["id"] %> />
            <input type="submit" value="Delete" />
          </form>
        </p>
      </li>
    <% end %>
  </ul>
  <p><%= flash[:notice] %></p>
</body>